input:checked ~ .dot {
  transform: translateX(100%);
  background-color: #48bb78;
}

* :focus {
  outline-color: transparent;
  outline-style: none;
}

.inputForm:focus {
  transition: all 0.15s linear;
  border-bottom: 4px solid rgba(59, 130, 246);
  margin-top: 2px;
}
