input:checked ~ .dot {
  transform: translateX(100%);
  background-color: #48bb78;
}

* :focus {
  outline-color: transparent;
  outline-style: none;
}

.inputForm:focus {
  transition: all 0.15s linear;
  border-bottom: 4px solid rgba(59, 130, 246);
  margin-bottom: -3px;
}

.color {
  color: #7a2048;
}

.switch:hover {
  color: #7a2048;
}

@media only screen and (min-width: 1536px) {
  .latop-size {
    margin-bottom: 6%;
  }
  .laptop-form {
    margin-left: 30px;
  }
  .laptop-mini {
    margin-left: 2.5%;
  }
  .laptop-clear {
    margin-left: 2%;
  }
}

@media only screen and (min-width: 1920px) {
  .latop-size {
    margin-right: 0px;
  }
  .laptop-mini {
    margin-right: 4%;
  }
}

::-webkit-calendar-picker-indicator {
  filter: invert(1);
}
