@import '//netdna.bootstrapcdn.com/font-awesome/3.0/css/font-awesome.css';

.search::-webkit-input-placeholder {
  font-family: FontAwesome;
}

@media only screen and (min-width: 1536px) {
  .laptop-size {
    bottom: 72.5%;
  }
}

@media only screen and (min-width: 1920px) {
  .laptop-size {
    bottom: 79%;
    margin-right: 14%;
  }
}
